fastapi==0.111.0
uvicorn[standard]==0.30.3
langchain==0.2.16
chromadb==0.4.24
sentence-transformers==3.0.1
transformers==4.44.2
accelerate==0.34.2
torch==2.4.1
huggingface-hub==0.24.6
sentencepiece==0.2.0
